@import url(media.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #000;
}

.button {
  width: 200px;
  height: 56px;
  color: #458FF6;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  cursor: pointer;
}

.wrapper {
  padding: 0 12%;
}

.hamburger_container {
  display: none;
}

.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 60px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-color: white;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 45%;
  left: 10%;
  height: 4px;
  width: 80%;
  background: #5a5a5a;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #5a5a5a;
  content: "";
}

.c-hamburger span::before {
  top: -400%;
}

.c-hamburger span::after {
  bottom: -400%;
}

.-hamburger--htx {
  background-color: #ffffff;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.c-hamburger--htx.is-active {
  background-color: #afafaf;
  position: fixed;
  top: 60px;
  right: 90px;
  z-index: 2;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 84px 0;
  position: relative;
}

.header_navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_navigation-list ul li {
  margin-top: 5px;
}

.header_navigation-item {
  margin-right: 40px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}

.header_navigation-item:hover {
  opacity: 1;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 30px;
  padding-right: 40px;
}

.header_logo img {
  position: absolute;
  top: 65px;
  left: 10px;
}

.header_logo-text {
  padding-left: 65px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #233348;
  mix-blend-mode: normal;
}

.main_services-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.main_services-head h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 156%;
  color: #000000;
  margin-bottom: 5%;
  mix-blend-mode: normal;
}

.main_services-head h2:after {
  content: ' ';
  display: block;
  position: relative;
  top: 25px;
  margin: 0 auto;
  width: 56px;
  border-bottom: 2px solid black;
}

.main_services-head p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #7D7987;
  width: 78%;
  mix-blend-mode: normal;
}

.hero {
  margin-bottom: 15%;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_container .hero_text {
  width: 445px;
}

.hero_container .hero_text h1 {
  margin-bottom: 5%;
}

.hero_container .hero_text p {
  margin-bottom: 10%;
}

.hero_container .hero_text .hero_btn {
  background-color: #458FF6;
  vertical-align: middle;
  border: none;
}

.hero_container .hero_text .hero_btn p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  color: #FFFFFF;
}

.hero_container .hero_text .hero_btn:hover {
  opacity: 0.9;
}

.hero_container .hero_text h1 {
  width: 427px;
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.hero_container .hero_text p {
  font-style: normal;
  margin-top: 25px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}

.hero_container .hero_img img {
  width: 100%;
  min-width: 400px;
}

.learn_btn {
  margin: 0 auto;
  width: 200px;
}

.learn_btn button {
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 300%;
  mix-blend-mode: normal;
  text-align: center;
}

.main_services {
  margin-bottom: 15%;
}

.main_services-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_services-item {
  margin: 0 2.8% 3% 0;
}

.main_services-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 350px;
  height: 354px;
  padding: 10%;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.main_services-item__logo img {
  width: auto;
}

.main_services-item__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 233%;
  color: #000000;
  mix-blend-mode: normal;
}

.main_services-item__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: #7D7987;
  width: 90%;
  mix-blend-mode: normal;
}

.features_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features_container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 47.5%;
}

.features_container-text h2 {
  width: 85%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 156%;
  color: #000000;
  mix-blend-mode: normal;
  text-align: left;
}

.features_container-text h2:after {
  content: ' ';
  display: block;
  position: relative;
  top: 25px;
  width: 56px;
  border-bottom: 2px solid black;
}

.features_container-text p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  color: #7D7987;
  margin-top: 61px;
  mix-blend-mode: normal;
  text-align: left;
}

.features_container-btn {
  margin: 10% 0;
}

.features_container-img {
  min-width: 200px;
  margin-right: 10%;
}

.features_container-img img {
  width: 100%;
}

.healtcare {
  margin-bottom: 20%;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reverse .features_container-text {
  margin-right: 10%;
}

.reverse .features_container-img {
  margin-right: 0;
}

.testimonials {
  width: 92%;
  margin: 15% auto;
  padding: 5%;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}

.testimonials_container-heading {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 133%;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.testimonials h2:after {
  content: ' ';
  display: block;
  position: relative;
  top: 25px;
  margin: 0 auto;
  width: 56px;
  border-bottom: 2px solid white;
  border-radius: 6px;
}

.testimonials .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8%;
}

.testimonials .user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 38%;
  max-width: 390px;
}

.testimonials .user_info img {
  margin-right: 5%;
  border: 4px solid white;
  border-radius: 50%;
}

.testimonials .user_info-text p:nth-child(1) {
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.testimonials .user_info-text p:nth-child(2) {
  font-weight: normal;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 5%;
  mix-blend-mode: normal;
}

.testimonials .user_review {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 158%;
  color: rgba(255, 255, 255, 0.9);
  width: 40%;
  mix-blend-mode: normal;
}

.articles_conatiner-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 156%;
  color: #000000;
  margin-bottom: 10%;
  mix-blend-mode: normal;
  text-align: center;
}

.articles h2:after {
  content: ' ';
  display: block;
  position: relative;
  top: 25px;
  margin: 0 auto;
  width: 56px;
  border-bottom: 2px solid black;
  border-radius: 6px;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1250px;
  overflow-y: visible;
  overflow: scroll;
}

.swiper-wrapper .swiper-slide {
  margin: 0 20px;
}

.swiper-wrapper::-webkit-scrollbar {
  width: 0;
}

.article_list {
  margin-bottom: 5%;
}

.article_list .article_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 350px;
  height: 512px;
  background: #ffffff;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.article_list .article_item-img {
  overflow: hidden;
  background-size: contain;
  border-radius: 20px 20px 0 0;
}

.article_list .article_item-img img {
  background-size: contain;
  background-position: center;
}

.article_list .article_item-description {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 152%;
  color: #000000;
  padding: 0 32px;
  mix-blend-mode: normal;
}

.article_list .article_item-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: #7D7987;
  padding: 0 32px;
  mix-blend-mode: normal;
}

.article_list .article_item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 165%;
  color: #4089ED;
  padding: 0 32px 35px 32px;
  mix-blend-mode: normal;
}

.footer {
  margin-top: 10%;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  padding: 10%;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer_copyright {
  width: 30.5%;
  margin-right: 13%;
}

.footer_copyright-logo {
  cursor: pointer;
}

.footer_copyright-info {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: #FFFFFF;
  margin-top: 5%;
  mix-blend-mode: normal;
}

.footer_copyright-copy {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  color: #FFFFFF;
  margin-top: 7%;
  mix-blend-mode: normal;
}

.footer_contacts {
  width: 50%;
}

.footer_contacts .contacts_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_contacts .contacts_list-item p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 300%;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.footer_contacts .contacts_list .list_item {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 211%;
  color: #FFFFFF;
  mix-blend-mode: normal;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */