@media screen and (max-width: 1020px) {
    .hamburger_container {
        display: block;
    }
    
    .header_navigation-list {
        position: absolute;
        display: none;
        background-color: rgb(175, 175, 175);
        height: 400%;
        width: 300px;
        transition: 0.3s ease;
        top: 0;
        right: -1500px;
        & ul {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 150px;
            height: 250px;
        }
    }
    .header_navigation-list__active {
        position: fixed;
        display: block;
        transition: 0.3s ease;
        right: -50px;
        overflow: hidden;
        z-index: 2;
    }
    
}

@media screen and (max-width: 976px) {
    .wrapper {
        padding: 0 6%;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .header_navigation-item {
        margin: 0;
        margin-right: 40px;
    }

    .section_container {
        flex-direction: column;
        width: 100%;
        & .section_item-img {
            margin: 0;
            margin-bottom: 10%;
        }
        & .section_item-text {
            align-items: center;
            width: 100%;
            & h2 {
                margin-bottom: 10%;
            }
            & h2, p {
                text-align: center;
            }
            & h2::after {
                margin: 0 auto;
            }
        }
    } 
    .healtcare, .aplication {
        padding: 0;
    }
   
    .main_services-head h2 {
        margin-bottom: 10%;
    }
    .main_services-head p {
        width: 100%;
    }
    
   

    .testimonials_container .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_info {
            width: auto;
        }
        &_review {
            width: 80%;
            margin-top: 5%;
        }
    }
    .contacts_list {
        flex-direction: column;
        align-items: flex-start;
        & ul {
            display: none;
        }
    }
    .contacts_list-item .list {
        display: none;        
    }
    .contacts_list-item {
        z-index: 2;
    }

}
@media screen and (max-width: 750px) {
    .main_services-item {
        margin-right: 0;
        margin-bottom: 3%;
    }
    .main_services-badges {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 5%;
    }
    .header_navigation {
        margin-top: 0;
    }
    .user {
        &_info {
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;
        }
        &_info img {
            transform: scale(0.7);
        }
    }    
    
    .swiper-slide {
        margin: 0 1%;
        transform: scale(0.7);
    }
    .footer_container {
        flex-direction: column;        
    }
    .footer_copyright-info {
        display: none;
    }
    .footer_copyright-copy {
        width: 200px;
    }
    .contacts_list {
        align-items: flex-start;
    }

    .testimonials {
        & .user_info img {
            padding: 0;
        }
        & .user_review blockquote {
            text-align: center;
        }
    }
    
} 