@media screen and (max-width: 1020px) {
  .hamburger_container {
    display: block;
  }
  .header_navigation-list {
    position: absolute;
    display: none;
    background-color: #afafaf;
    height: 400%;
    width: 300px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    top: 0;
    right: -1500px;
  }
  .header_navigation-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 150px;
    height: 250px;
  }
  .header_navigation-list__active {
    position: fixed;
    display: block;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    right: -50px;
    overflow: hidden;
    z-index: 2;
  }
}

@media screen and (max-width: 976px) {
  .wrapper {
    padding: 0 6%;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_navigation-item {
    margin: 0;
    margin-right: 40px;
  }
  .section_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .section_container .section_item-img {
    margin: 0;
    margin-bottom: 10%;
  }
  .section_container .section_item-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .section_container .section_item-text h2 {
    margin-bottom: 10%;
  }
  .section_container .section_item-text h2, .section_container .section_item-text p {
    text-align: center;
  }
  .section_container .section_item-text h2::after {
    margin: 0 auto;
  }
  .healtcare, .aplication {
    padding: 0;
  }
  .main_services-head h2 {
    margin-bottom: 10%;
  }
  .main_services-head p {
    width: 100%;
  }
  .testimonials_container .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials_container .user_info {
    width: auto;
  }
  .testimonials_container .user_review {
    width: 80%;
    margin-top: 5%;
  }
  .contacts_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contacts_list ul {
    display: none;
  }
  .contacts_list-item .list {
    display: none;
  }
  .contacts_list-item {
    z-index: 2;
  }
}

@media screen and (max-width: 750px) {
  .main_services-item {
    margin-right: 0;
    margin-bottom: 3%;
  }
  .main_services-badges {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 5%;
  }
  .header_navigation {
    margin-top: 0;
  }
  .user_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
  }
  .user_info img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .swiper-slide {
    margin: 0 1%;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_copyright-info {
    display: none;
  }
  .footer_copyright-copy {
    width: 200px;
  }
  .contacts_list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonials .user_info img {
    padding: 0;
  }
  .testimonials .user_review blockquote {
    text-align: center;
  }
}
/*# sourceMappingURL=media.css.map */