@media screen and (max-width: 1020px) {
    .hamburger_container {
        display: flex;        
    }
    .hamburger_container-active { 
        display: flex;
        position: fixed;
        top: 60px;
        right: 12%;
        & .menu-icon span {
            opacity: 1;
        }          
        & .menu-icon span:nth-child(1) {
            transform-origin: center center;
            transform: rotate(-45deg) translate(-20%, 190%);
            width: 55px;
        }
        & .menu-icon span:nth-child(2) {
            transform: translateX(50px);
        }
        & .menu-icon span:nth-child(3) {
            transform-origin: center center;
            transform: rotate(45deg) translate(-20%, -190%);
            width: 55px;
        }
    }   

    .header_navigation-list {
        position: absolute;
        display: none;
        background-color: rgb(175, 175, 175);
        height: 400%;
        width: 300px;
        transition: 0.3s ease;
        top: 0;
        right: -1500px;
        & ul {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 150px;
            height: 250px;
        }
    }
    .header_navigation-list__active {
        position: fixed;
        display: block;
        transition: 0.3s ease;
        right: -50px;
        overflow: hidden;
    }
    
}

@media screen and (max-width: 940px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header_hero {
        margin: 0 auto;
        & .hero_text {
            display: flex;
            flex-direction: column;
            width: 90%;
            & h1 {
                width: 90%;
            }
        }
    }
    .hero_img img {
        display: none;
    }

    .main_services-item {
        & ul {
            width: 300px;
            height: 300px;
        }
    }

    .features {
        &_healtcare {
            justify-content: center;
        }
        &_healtcare-text {
            margin: 0;
            width: 100%;
            & h2 {
                width: 100%;                
                text-align: center;
            }
            & h2::after {
                left: 45%;
            }
            & p {                
                width: 100%;
                text-align: center;
            }
        }
        &_healtcare-btn {
            margin: 10% auto;
        }
        &_healtcare-img {
            display: none;
        }
        &_aplication-img {
            display: none;
        }


        &_aplication {
            justify-content: center;
        }
        &_aplication-text {
            margin: 0;
            width: 100%;
            & h2 {
                width: 100%;                
                text-align: center;
            }
            & h2::after {
                left: 45%;
            }
            & p {                
                width: 100%;
                text-align: center;
            }
        }
        &_aplication-btn {
            margin: 10% auto;
        }
        &_aplication-img {
            display: none;
        }
        &_aplication-img {
            display: none;
        }
    }

    .testimonials_container .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_info {
            align-self: start;
            width: auto;
            margin-left: 10%;
        }
        &_review {
            width: 80%;
            margin-top: 5%;
        }
    }
    .contacts_list {
        flex-direction: column;
        align-items: flex-end;
    }
    .contacts_list-item .list {
        display: none;
        
    }
}


@media screen and (max-width: 500px) {

    .user {
        &_info {
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;
        }
        &_info img {
            transform: scale(0.7);
        }
    }    
    .article_item {
        width: 30%;
    }

    .footer_container {
        flex-direction: column;        
    }
    .footer_copyright-info {
        display: none;
    }
    .footer_copyright-copy {
        width: 200px;
    }
    .contacts_list {
        align-items: flex-start;
    }
    
} 